################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicDistributed/.vs/BasicDistributed/v16/Server/sqlite3
